.titleHomepage {
  margin-top: 125px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.description {
  font-weight: normal;
  margin-top: 20px;
}

.cards {
  margin-top: 500px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.carousel {
  margin-top: 550px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100%;
}

.experience {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
