.signup {
  margin-top: 175px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.questions {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.signupTitle {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.inputSize {
  height: 100px;
  width: 100%;
  outline: none;
}
